canvas {
	border: 1px solid #000;
	vertical-align: top;
}

.my-canvas-02 {
	margin-left: 20px;
}

.btn-draw {
	padding: 5px 10px;
	margin-left: 10px;
	border: 1px solid #000;
}

.box {
	position: relative;
	overflow: hidden;
	display: inline-block;
	width: 300px;
	height: 300px;
	margin-top: 30px;
	border-radius: 5px;
	box-shadow: 0 2px 30px rgba(black, .2);
	background: lighten(#f0f4c3, 10%);
	background-color: rgba(34, 6, 160, 0.3);
	vertical-align: middle;
	/* transform: translate3d(0, 0, 0); */
}

.wave {
	opacity: .4;
	position: absolute;
	top: 3%;
	left: 50%;
	background: #0af;
	width: 500px;
	height: 500px;
	margin-left: -250px;
	margin-top: -250px;
	transform-origin: 50% 48%;
	border-radius: 43%;
	animation: drift 3000ms infinite linear;
}

.wave.-three {
	animation: drift 8000ms infinite linear;
}

.wave.-two {
	animation: drift 10000ms infinite linear;
	opacity: .5;
	background: yellow;
}

.box:after {
	content: '';
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));
	z-index: 11;
	/* transform: translate3d(0, 0, 0); */
}

/* .title {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1;
	line-height: 300px;
	text-align: center;
	transform: translate3d(0, 0, 0);
	color: white;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 24px;
	text-shadow: 0 1px 0 rgba(black, .1);
	text-indent: .3em;
} */

@keyframes drift {
	from { transform: rotate(0deg); }
	from { transform: rotate(360deg); }
}
.drawsvg {
	margin-top: 30px;
}
.drawsvg,
.drawsvg :where(*, svg) {
	-webkit-transition: none;
	transition: none;
	width: 50%;
	height: 150px;
}

.stroke {
	stroke: #34c5ff;
	stroke-width: 1px;
	stroke-dasharray: 0 250;
	stroke-opacity: 1;
	fill: none;
	-webkit-animation: stroke_offset 8s infinite;
	animation: stroke_offset 8s infinite;
	-webkit-animation-timing-function: cubic-bezier(.25, .46, .45, .94);
	animation-timing-function: cubic-bezier(.25, .46, .45, .94);
	-webkit-transition: none;
	transition: none;
}

@-webkit-keyframes stroke_offset {
	100%,
	25% {
		stroke-dasharray: 0 250;
		stroke-opacity: 1
	}
	50%,
	75% {
		stroke-dasharray: 250 0;
		stroke-opacity: .75
	}
	55%,
	70% {
		stroke-dasharray: 250 0;
		stroke-opacity: 0
	}
}

@keyframes stroke_offset {
	100%,
	25% {
		stroke-dasharray: 0 250;
		stroke-opacity: 1
	}
	50%,
	75% {
		stroke-dasharray: 250 0;
		stroke-opacity: .75
	}
	55%,
	70% {
		stroke-dasharray: 250 0;
		stroke-opacity: 0
	}
}

.fill {
	fill: #34c5ff;
	fill-opacity: 0;
	-webkit-animation: fill_offset 8s infinite;
	animation: fill_offset 8s infinite;
	-webkit-animation-timing-function: cubic-bezier(.25, .46, .45, .94);
	animation-timing-function: cubic-bezier(.25, .46, .45, .94);
}

@-webkit-keyframes fill_offset {
	100%,
	25%,
	35%,
	90% {
		fill-opacity: 0;
	}
	50%,
	70% {
		fill-opacity: 1;
	}
}

@keyframes fill_offset {
	100%,
	25%,
	35%,
	90% {
		fill-opacity: 0;
	}
	50%,
	70% {
		fill-opacity: 1;
	}
}

#fade-text {
	/* font-family: 'Alex Brush', cursive; */
	font-size: 140px;
	font-weight: bold;
}

.drawsvg svg {
	position: absolute;
}

.btn-rotate {
	transition: width .5s cubic-bezier(0.19, 1, 0.22, 1);
	position: relative;
	display: inline-block;
	width: 150px;
	margin: 30px 0 0 30px;
	text-indent: -9999px;
	text-align: center;
	line-height: 50px;
	vertical-align: middle;
}

.btn-rotate:before,
.btn-rotate:after {
	content: attr(title);
	transition: transform .5s .5s cubic-bezier(0.19, 1, 0.22, 1);
	transform-origin: 50% 50% -25px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	border: 4px solid #000;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	text-transform: uppercase;
	text-indent: 0;
	line-height: 42px;
}

.btn-rotate:after {
	transform: rotateX(-90deg);
	background-color: #000;
	color: #fff;
}

.btn-rotate:hover {
	width: 200px;
}

.btn-rotate:hover:before {
	transform: rotateX(90deg);
}
.btn-rotate:hover:after {
	transform: rotateX(0deg);
}

.loader-box {
	display: inline-block;
	margin-lefT: 50px;
	vertical-align: middle;
}

.loader {
	max-width: 15rem;
	width: 100%;
	height: auto;
	stroke-linecap: round;
}

.loader circle {
	animation: preloader 3s ease-in-out infinite;
	fill: none;
	stroke-width: 3.5;
	transform-origin: 170px 170px;
	will-change: transform;
}

.loader circle:nth-of-type(1) {
	stroke-dasharray: 550px;
}

.loader circle:nth-of-type(2) {
	stroke-dasharray: 500px;
	animation-delay: 0.15s;
}

.loader circle:nth-of-type(3) {
	stroke-dasharray: 450px;
	animation-delay: 0.3s;
}

.loader circle:nth-of-type(4) {
	stroke-dasharray: 300px;
	animation-delay: 0.45s;
}

@keyframes preloader {
	50% {
		transform: rotate(360deg);
	}
}

.ocean-outer {
	position: relative;
	overflow: hidden;
	height: 300px;
	margin-top: -150px;
}

.ocean {
	height: 5%;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	background: #015871;
}

.ocean-wave {
	background: url(/hcriver/assets/images/prac/wave.svg) repeat-x;
	position: absolute;
	top: -170px;
	width: 6400px;
	height: 198px;
	animation: wave 5s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
	transform: translate3d(0, 0, 0);
}

.ocean-wave:nth-of-type(2) {
	top: -155px;
	animation: wave 5s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 5s ease -1.25s infinite;
	animation-delay: .25s;
	opacity: 1;
}

@keyframes wave {
	0% {
		margin-left: 0;
	}
	100% {
		margin-left: -1600px;
	}
}
@keyframes swell {
	0%,
	100% {
		transform: translate3d(0, -25px, 0);
	}
	50% {
		transform: translate3d(0, 5px, 0);
	}
}

.endWave{
	display:none;
}